<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="org.ict.mapper.ProMapper">
 
 	<insert id="insert">
 		insert into product (pno, pname, price, pcnt, pimg, pdimg)
 				values (#{pno}, #{pname}, #{price}, #{pcnt}, #{pimg}, #{pdimg})
 	</insert>
 
 	<select id="getList" resultType="org.ict.domain.ProVO">
 	
 		select *from product where pno> 0 	
 	</select>
 
	 <update id="update">
	 	update product
	 	set
	 pname=#{pname}, price=#{price}, pimg=#{pimg} , pdimg=#{pdimg}
	 where pno=#{pno}
	 </update>
 	<select id="read" resultType="org.ict.domain.ProVO">
 		select *from product where pno=#{pno}
 	
 	</select>
 </mapper>